# Enable Bzlmod for every Bazel command
common --enable_bzlmod
common --enable_workspace
common --verbose_failures
common --subcommands
common --show_loading_progress
common --show_progress
common --show_timestamps
common --announce_rc
common --registry=https://bcr.bazel.build

build --compilation_mode=fastbuild
build --strip=never
build --sandbox_debug

build:release --compilation_mode=opt
build:release --copt="-g3"
build:release --strip=never
build:release --sandbox_debug
